/* ==== Google font ==== */
@import url('http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic|Montserrat:700|Merriweather:400italic');


body {
    width: 100%;
    height: 100%;
	font-weight: 300;
    color: #666;
    background-color: #fff;
    position: relative;
}

.nav-pills {
    --bs-nav-pills-border-radius: 1rem;
    --bs-nav-pills-link-active-color: #fff;
    --bs-nav-pills-link-active-bg: rgba(61, 147, 121,.4);
}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 30px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.01rem;
}

p {
    margin: 0 0 20px;
    font-size: 20px;
    line-height: 1.6em;
}

p.lead {
	font-weight: 600;
}

a {
    color: #28c3ab;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #176e61;
}

.light {
    font-weight: 400;
}
.ctmLogo{
    position: relative;
    width: 80px;
    display: flex;
    align-items: center;
    
}
.ctmLogo img{
    position: absolute;
}
.navbar-brand{
    display: flex;
    align-items: center;
    left: -300px;
    position: relative;
}
.logo-txt{
    line-height: 1em;
    font-size: 1em;
    font-weight: 400;
    text-shadow: #faf8f8 0 0 3px; 
}
.navbar-collapse{
    justify-content: flex-end;
}
.nav{
    margin: 0 -8px;
}
.nav-link{
    text-transform: uppercase;
    color: var(--bs-navbar-brand-color);
    font-size: 1.2em;
    min-width: 150px;
    text-align: center;
    margin: 0 8px;
    text-shadow: #faf8f8 0 0 3px;
}
.navbar-brand h1{
	color: #fff;
  font-size: 20px;
  line-height: 40px;
}

.navbar-brand:focus {
    outline: 0;
}
.navbar{
    transition: all .5s ease;
    --bs-navbar-toggler-focus-width: 0.1rem;
    --bs-navbar-color: rgba(61, 147, 121, 0.55);
}

.navbar-custom ul.nav li a {
	font-size: 12px;
	letter-spacing: 1px;
    color: #444;
	text-transform: uppercase;
	font-weight: 700;
}

.navbar-custom.top-nav-collapse ul.nav li a {
	    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
	color: #fff;
}

.navbar-custom ul.nav ul.dropdown-menu {
	  border-radius: 0;	
}

.navbar-custom ul.nav ul.dropdown-menu li {
	border-bottom: 1px solid #f5f5f5;

}

.navbar-custom ul.nav ul.dropdown-menu li:last-child{
	border-bottom: none;
}

.navbar-custom ul.nav ul.dropdown-menu li a {
	padding: 10px 20px;
}

.navbar-custom ul.nav ul.dropdown-menu li a:hover {
	background: #fefefe;
}

.navbar-custom.top-nav-collapse ul.nav ul.dropdown-menu li a {
	color: #666;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li.active {
    outline: 0;
    /* background-color: rgba(255,255,255,.2); */
}
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li.active {
    outline: 0;
    background-color: rgba(255,255,255,.2);
}

.navbar-toggle {
    padding: 4px 6px;
    font-size: 14px;
    color: #fff;
}

.navbar-toggle:focus,
.navbar-toggle:active {
    outline: 0;
}


/* loader */
#preloader {
    background: #ffffff;
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1500;
    display: flex;
    align-items: center;
    justify-content: center;
}


#loaderInner {
    background:#ffffff url(../img/spinner.gif) center center no-repeat;
    height: 60px;
    left: 50%;
    margin: -50px 0 0 -50px;
    position: absolute;
    top: 50%;
    width: 60px;
}

@keyframes boxSpin{
  0%{
    transform: translate(-10px, 0px);
  }
  25%{
    transform: translate(10px, 10px);
  }
  50%{
    transform: translate(10px, -10px);
  }
  75%{
    transform: translate(-10px, -10px);
  }
  100%{
    transform: translate(-10px, 10px);
  }
}


@keyframes shadowSpin{
  0%{
    box-shadow: 10px -10px #39CCCC, -10px 10px #FFDC00;
  }
  25%{
    box-shadow: 10px 10px #39CCCC, -10px -10px #FFDC00;
  }
  50%{
    box-shadow: -10px 10px #39CCCC, 10px -10px #FFDC00;
  }
  75%{
    box-shadow: -10px -10px #39CCCC, 10px 10px #FFDC00;
  }
  100%{
    box-shadow: 10px -10px #39CCCC, -10px 10px #FFDC00;
  }
}
.logo-ksr{
    position: relative;
    width: 300px;
    height: 300px;
}
.logo-ksr img{
    position: absolute;
    width: 100%;
    height: 100%;
}
.ouyside{
    animation: rotateOS 2s ease-in-out infinite;
}
.inside{
    animation: rotateIS 2s ease-in-out infinite;
}

@keyframes rotateOS{
    0%{
        transform: rotate(0);
    }
    10%{
        transform: rotate(-5deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes rotateIS{
    0%{
        transform: rotate(0);
    }
    10%{
        transform: rotate(5deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}

/* misc */
hr {
  margin-top: 10px;
}

/* margins */
.marginbot-0{margin-bottom:0 !important;}
.marginbot-10{margin-bottom:10px !important;}
.marginbot-20{margin-bottom:20px !important;}
.marginbot-30{margin-bottom:30px !important;}
.marginbot-40{margin-bottom:40px !important;}
.marginbot-50{margin-bottom:50px !important;}

/* ===========================
--- General sections
============================ */

.home-section {
    padding-top: 110px;
    padding-bottom: 110px;
	display:block;
    position:relative;
    z-index:120;
}


.section-heading h2 {
	font-size: 40px;
}
.section-heading i {
	margin-bottom: 20px;
}


/* --- section bg var --- */

.bg-white {
	background: #fff;
}

.bg-gray {
	background: #f8f8f8;
}


.bg-dark {
	background: #575757;
}

/* --- section color var --- */

.text-light {
	color: #fff;
}



/* ===========================
--- Intro
============================ */

.intro {
	width:100%;
	position:relative;
    font-family: 'Oswald', sans-serif;	
	/* background: url(../img/Robotics-1.jpeg) no-repeat top center; */
}
.invert{
    width: 40vw;
    position: absolute;
    bottom: 4.25rem;
    left: 50%;
    z-index: 100;
}
.carousel{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.carousel-inner{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* color: rgb(61, 147, 121);
	text-shadow: -1px 1px 2px #000, rgb(10, 10, 10) 1px 0 5px; */
}

.carousel-item{
    height: 100%;
    width: 100%;
}
.d-block{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}
.cstOverlay{
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(
        165deg,
        hsl(210, 16.7%, 97.6%) 0%,
        hsla(210, 16.7%, 97.6%, 0.995) 8.2%,
        hsla(210, 16.7%, 97.6%, 0.981) 16%,
        hsla(210, 16.7%, 97.6%, 0.958) 23.4%,
        hsla(210, 16.7%, 97.6%, 0.926) 30.4%,
        hsla(210, 16.7%, 97.6%, 0.885) 37.3%,
        hsla(210, 16.7%, 97.6%, 0.835) 43.8%,
        hsla(210, 16.7%, 97.6%, 0.776) 50.2%,
        hsla(210, 16.7%, 97.6%, 0.709) 56.5%,
        hsla(210, 16.7%, 97.6%, 0.633) 62.6%,
        hsla(210, 16.7%, 97.6%, 0.548) 68.7%,
        hsla(210, 16.7%, 97.6%, 0.455) 74.8%,
        hsla(210, 16.7%, 97.6%, 0.354) 81%,
        hsla(210, 16.7%, 97.6%, 0.244) 87.2%,
        hsla(210, 16.7%, 97.6%, 0.126) 93.5%,
        hsla(210, 16.7%, 97.6%, 0) 100%
      ) left center/100% no-repeat;
    z-index: 10;
}

.intro .slogan {
	text-align: left;
    position: absolute;
    top: 20vh;
    left: 10%;
    z-index: 20;
    width: 50%;
}

.intro .page-scroll {
	text-align: center;
}

.brand-heading {
    font-size: 40px;
}

.intro-text {
    font-size: 18px;
}

.intro .slogan h2 {
	color: #0d9343;
	font-size: calc(1rem + 1.5vw);
	font-weight: 300;
    font-family: var(--bs-font-sans-serif);
	text-decoration: none;
	border-width: 0px;
	border-style: none;
    letter-spacing: 0;
    text-transform: none;
    margin-bottom: 0;
}

.intro .slogan h4 {
	font-size: calc(1rem + 0,3vw);
    font-family: var(--bs-font-sans-serif);
    font-weight: 300;
    color: rgba(0, 0, 0, 0.9);
    text-transform: none;
}

.intro .slogan h6{
    font-weight: 300;
    font-size: calc(1rem);
    font-family: var(--bs-font-sans-serif);
}

.intro .slogan h4 img{
    position: relative;
    top: -3px;
    margin-right: 5px;
}


/* ===========================
--- About
============================ */

.boxed-grey {
	background: #f9f9f9;
	padding: 20px;
}

.team h5 {
	margin-bottom: 10px;
}

.team p.subtitle {
	margin-bottom: 10px;
}

.avatar {
	margin-bottom: 20px;
}

.team-social {
	margin-left: 0;
	padding-left: 0;
	
}

.team-social {
	text-align: center;
}

.team-social li{
    display: inline-block;
	margin:0 !important;
	padding:0;
}


.team-social a{
	margin:0;
	padding:0;
    display: block;
	width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #3bbec0;
	color: #fff;
    -webkit-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}
.team-social a i{
	text-align: center;
	margin:0;
	padding:0;
}
.team-social .social-facebook a{background: #3873ae;}
.team-social .social-twitter a{background: #62c6f8;}
.team-social .social-dribble a{background: #d74980;}
.team-social .social-deviantart a{background: #8da356;}
.team-social .social-google a{background: #000;}
.team-social .social-vimeo a{background: #51a6d3;}
.team-social .social-facebook a:hover{background: #4893ce;}
.team-social .social-twitter a:hover{background: #82e6ff;}
.team-social .social-dribble a:hover{background: #f769a0;}
.team-social .social-deviantart a:hover{background: #adc376;}
.team-social .social-google a:hover{background: #333;}
.team-social .social-vimeo a:hover{background: #71c6f3;}


/* ===========================
--- Services
============================ */

.service-icon {
	margin-bottom: 20px;
}	



/* ===========================
--- Contact
============================ */

form#contact-form .form-group label {
	text-align: left !important;
	display: block;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 12px;
}
form#contact-form input,form#contact-form select,form#contact-form textarea {
	border-radius: 0;
	border: 1px solid #eee;
  -webkit-box-shadow: none;
          box-shadow:  none;
}

form#contact-form input:focus,form#contact-form select:focus,form#contact-form textarea:focus {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}
.input-group-addon {
  background-color: #fefefe;
  border: 1px solid #eee;
  border-radius: 0;
}

.widget-contact {
	text-align: left;
}


.company-social {
	margin-left: 0;
	padding-left: 0;
	margin-top: 10px;
}

.company-social {
	text-align: left;
}

.company-social li{
    display: inline-block;
	margin:0 !important;
	padding:0;
}


.company-social a{
	margin:0;
	padding:0;
    display: block;
	width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #3bbec0;
	color: #fff;
    -webkit-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}
.company-social a i{
	text-align: center;
	margin:0;
	padding:0;
}
.company-social .social-facebook a{background: #3873ae;}
.company-social .social-twitter a{background: #62c6f8;}
.company-social .social-dribble a{background: #d74980;}
.company-social .social-deviantart a{background: #8da356;}
.company-social .social-google a{background: #000;}
.company-social .social-vimeo a{background: #51a6d3;}
.company-social .social-facebook a:hover{background: #4893ce;}
.company-social .social-twitter a:hover{background: #82e6ff;}
.company-social .social-dribble a:hover{background: #f769a0;}
.company-social .social-deviantart a:hover{background: #adc376;}
.company-social .social-google a:hover{background: #333;}
.company-social .social-vimeo a:hover{background: #71c6f3;}



/* ===========================
--- Footer
============================ */
footer {
	text-align: center;
	padding: 30px 0 ;
    font-size: 1.2rem;
    overflow: hidden;
}
.copyrite{
    font-size: 0.8rem;
}
footer h3{
    text-align: center;
}
footer a{
    text-decoration: none;
    color: #fff;
}
footer a:hover{
    color: #000;
}

footer p {
	color: #f8f8f8;
}
.footer-wraper{
    display: flex;
    justify-content: space-between;
    min-height: 300px;
}
.footer__contact{
    text-align: left;
}
.footer-item {
    color:#fff;
    width:100%;
    padding:20px;
}
.footer__map{
    height: 300px;
}
.footer__copyrite ul{
 list-style: none;
 padding: 0;
 text-align: left;
 
}
.ulFlex{
    flex: 1 1 auto;
}
.footer__copyrite{
    display: flex;
    flex-direction: column;
}
/* ==========================
Parallax
============================= */

#parallax1{	
	background-image: url(../img/parallax/1.jpg);
}

#parallax1:after {	
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAEklEQVQImWNgYGD4z0AswK4SAFXuAf8EPy+xAAAAAElFTkSuQmCC);
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	opacity: 0.7;
	z-index: -1;
}


#parallax2{	
	background-image: url(../img/parallax/2.jpg);

}

#parallax2:after  {	
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAEklEQVQImWNgYGD4z0AswK4SAFXuAf8EPy+xAAAAAElFTkSuQmCC);
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	opacity: 0.7;
	z-index: -1;
}


/* ===========================
--- Elements
============================ */

.btn {
	border-radius: 0;
    text-transform: uppercase;
    font-family: Montserrat,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}


.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 50%;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle.btn-dark {
    border: 2px solid #666;
    color: #666;
}


.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,.1);
}

.btn-circle.btn-dark :hover,
.btn-circle.btn-dark :focus {
    outline: 0;
    color: #999;
    background: #fff;
}

.btn-circle.btn-dark :hover i,
.btn-circle.btn-dark :focus i{
    color: #999;
}

.page-scroll .btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.page-scroll .btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {    
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {    
    0% {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}


#text {
    color: #fff;
    background: #ffcc00;
}

#map {
	height: 500px;
}


.btn-skin:hover,
.btn-skin:focus,
.btn-skin:active,
.btn-skin.active {
  color: #fff;
  background-color: #666;
  border-color: #666;
}


.btn-default:hover,
.btn-default:focus {
    border: 1px solid #28c3ab;
    outline: 0;
    color: #000;
    background-color: #28c3ab;
}

.btn-huge {
    padding: 25px;
    font-size: 26px;
}

.banner-social-buttons {
    margin-top: 0;
}


/* Media queries */
@media(max-width:767px){
    .intro {
        height: 100%;
        padding: 0;
    }
    .footer-wraper{
        flex-direction: column;
    }
}

@media(min-width:767px) {

    .top-nav-collapse {
        padding: 0;
        background-color: rgb(209, 24, 24);
    }

    .navbar-custom.top-nav-collapse {
        border-bottom: 1px solid rgba(255,255,255,.3);
    }
	
    .intro {
        height: 100%;
        padding: 0;
    }

    .brand-heading {
        font-size: 100px;
    }
	

    .intro-text {
        font-size: 25px;
    }


}
@media (max-width:768px) {
	
	.team.boxed-grey {
		margin-bottom: 30px;
	}
	
	.boxed-grey {
		margin-bottom: 30px;
	}

	
}
@media (max-width:391px){
    
}

@media (max-width:480px) {

	.navbar-custom .nav.navbar-nav {
    background-color: rgba(255,255,255,.4);
	}
	
	.navbar.navbar-custom.navbar-fixed-top {
		margin-bottom: 30px;
	}
	
	.tp-banner-container {
		padding-top:40px;
	}

	.page-scroll a.btn-circle {
		width: 40px;
		height: 40px;
		margin-top: 10px;
		padding: 7px 0;
		border: 2px solid #fff;
		border-radius: 50%;
		font-size: 20px;
	}
	
}
a.nav-link.active{
    text-shadow: none;
}